{% extends 'base.html' %}


{% block content %}
  {% if data %}
    <!-- Collapsable Card Example -->
    <div class="card shadow mb-12">
        <!-- Card Header - Accordion -->
           <a href="#collapse_totales" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapse_totales">
           <h6 class="m-0 font-weight-bold text-primary">TOTALES</h6>
           </a>
           <!-- Card Content - Collapse -->
           <div class="collapse show" id="collapse_totales">
                <div class="card-body">
                <div class="row">
            <!-- Documentos Total -->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Documentos</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"> {{data.doc_count}} </div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-folder-open fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Informes Total -->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Informes</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{data.inf_count}}</div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-file-signature fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Earnings (Monthly) Card Example -->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tareas</div>
                            <div class="row no-gutters align-items-center">
                              <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                              </div>
                              <div class="col">
                                <div class="progress progress-sm mr-2">
                                  <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Pending Requests Card Example -->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Mensajes</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">5</div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <br>


    <div class="card shadow mb-12">
        <!-- Card Header - Accordion -->
           <a href="#collapse_mes" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapse_mes">
           <h6 class="m-0 font-weight-bold text-primary">MES</h6>
           </a>
           <!-- Card Content - Collapse -->
           <div class="collapse hidden" id="collapse_mes">
                <div class="card-body">
                <div class="row">
            <!-- Documentos Total -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Documentos</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"> {{data.doc_count}} </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-folder-open fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Informes Total -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Informes</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{data.inf_count}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-file-signature fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
      </div>
      </div>
      </div>
      <br>


    <div class="card shadow mb-12">
        <!-- Card Header - Accordion -->
           <a href="#collapse_dia" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapse_dia">
           <h6 class="m-0 font-weight-bold text-primary">DIA</h6>
           </a>
           <!-- Card Content - Collapse -->
           <div class="collapse hidden" id="collapse_dia">
                <div class="card-body">
                <div class="row">
            <!-- Documentos Total -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Documentos</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"> {{data.doc_count}} </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-folder-open fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Informes Total -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Informes</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{data.inf_count}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-file-signature fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
      </div>
      </div>
      </div>
      <br>


    <div class="card shadow mb-12">
        <!-- Card Header - Accordion -->
           <a href="#collapse_pendientes" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapse_pendientes">
           <h6 class="m-0 font-weight-bold text-primary">PENDIENTES</h6>
           </a>
           <!-- Card Content - Collapse -->
           <div class="collapse hidden" id="collapse_pendientes">
                <div class="card-body">
            <div class="row">
            <!-- Documentos Total -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Documentos </div>
                      <div class="h5 mb-0 font-weight-bold text-red-800"> {{data.doc_count}} </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-folder-open fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
      </div>
      </div>
      </div>
      <br>

  {% endif %}
{% endblock %}

