{% extends 'base.html' %}

{% block content %}

<div class="col-lg-6">
	<div class="panel panel-primary">
		<div class="panel-heading">
			Sin privilegios necesarios			
		</div>

		<div class="panel-body">
			<div class="row">
				<div class="col-md8 col-md-offset-2">
					<h4 class="text-warning text-center"> Tu usuario
						<mark> no tiene suficientes privilegios</mark> para cargar la opción solicitada.
						<br>
						<small>Favor loguearse con un usuario con privilegios o póngase en contacto con el administrador</small>
					</h4>
				</div>
			</div>
		</div>

		<div class="panel-footer">
			<a href=" {{request.META.HTTP_REFERER}} " class="btn btn-info">
				<span class="fas fa-thumbs-up"></span>Ok, continuar.
			</a>
			<a href=" {% url 'logout' %} ">
				<span class="fas fa-user-secret"></span>Ingresar con otro usuario.
			</a>
			
		</div>

	</div>
</div>